@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) translateX(-5vw);
  }
  100% {
    transform: translateY(100vh) translateX(5vw);
  }
}

@keyframes sway-left-to-right {
  0% {
    transform: translateY(-10vh) translateX(-10vw);
  }
  100% {
    transform: translateY(100vh) translateX(10vw);
  }
}

@keyframes sway-right-to-left {
  0% {
    transform: translateY(-10vh) translateX(10vw);
  }
  100% {
    transform: translateY(100vh) translateX(-10vw);
  }
}



body {
  background-color: #1a1a1a;
  color: #e8644f;
  font-family: 'Permanent Marker', cursive;
  /* Hide the default scrollbar for Webkit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide the default scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide the default scrollbar for IE/Edge */
  -ms-overflow-style: none; 
}

/* Smooth scrolling for better user experience */
html {
  scroll-behavior: smooth;
}

/* Custom styles for the dropdown menu */
.group:hover .group-hover\:visible {
  visibility: visible;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}